

/* JUMBOTRON --------------------------------------------------- */
.jumbotron{
  background: #1abc9c;
  text-align: center;
  color: white;
}
.jumbotron h1{
  font-family: 'Montserrat';
  font-weight: 700;
}




/* MAXI DESKTOP -------------------------------- */
@media screen and (min-width: 1200px){

  .jumbotron{
    margin-top: 110px;
  }
  .jumbotron img{
    height: 250px;
  }
  .jumbotron h1{
    font-size: 65px;
    margin-top: 40px;
  }
  .jumbotron p{
    font-size: 24px;
    font-weight: 400;
    margin-top: 25px;
  }
  .glyphicon.glyphicon-star {
    font-size: 40px;
  }
  .jumbotron .container{
    margin-top: 40px;
  }
}

/* DESKTOP -------------------------------- */
@media screen and (min-width: 992px) and (max-width:1199px ) {

  .jumbotron{
    margin-top: 110px;
  }
  .jumbotron img{
    height: 250px;
  }
  .jumbotron h1{
    font-size: 65px;
    margin-top: 40px;
  }
  .jumbotron p{
    font-size: 24px;
    font-weight: 400;
    margin-top: 25px;
  }
  .glyphicon.glyphicon-star {
    font-size: 40px;
  }
  .jumbotron .container{
    margin-top: 40px;
  }


}

/* TABLET --------------------------------- */
@media screen and (min-width: 768px) and (max-width: 991px) {

  .jumbotron{
    margin-top: 75px;
  }
  .jumbotron img{
    height: 250px;
  }
  .jumbotron h1{
    font-size: 45px;
    margin-top: 40px;
  }
  .jumbotron p{
    font-size: 20px;
    font-weight: 400;
    margin-top: 25px;
  }
  .glyphicon.glyphicon-star {
    font-size: 40px;
  }
  .jumbotron .container{
    margin-top: 85px;
  }


}

/* MOBILE --------------------------------- */
@media screen and (max-width: 767px) {

  .jumbotron{
    margin-top: 75px;
  }
  .jumbotron img{
    height: 250px;
  }
  .jumbotron h1{
    font-size: 45px;
    margin-top: 40px;
  }
  .jumbotron p{
    font-size: 20px;
    font-weight: 400;
    margin-top: 25px;
  }
  .glyphicon.glyphicon-star {
    font-size: 40px;
  }
  .jumbotron .container{
    margin-top: 85px;
  }



}
